go 1.22.1

use (
	./algs/graph/bellman-ford
	./algs/graph/dijkstra
	./algs/graph/kruskal
	./algs/graph/prim
	./algs/search/binary-search
	./algs/search/interpolation-search
	./algs/sort/bubble-sort
	./algs/sort/insert-sort
	./algs/sort/merge-sort
	./algs/sort/quick-sort
	./algs/sort/select-sort
	./algs/sort/shell-sort
	./bit-operation
	./data-structure/array
	./data-structure/graph
	./data-structure/heap
	./data-structure/list
	./data-structure/tree
	./util
)
