go 1.22.1

use (
	./algs/graph/bellman-ford
	./algs/graph/dijkstra
	./algs/graph/kruskal
	./algs/graph/prim
	./data-structure/array
	./data-structure/graph
	./data-structure/heap
	./data-structure/list
	./data-structure/tree
	./util
)
